.container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    &__text {
      margin: 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      height: 1.75rem;
      width: 1.75rem;
      color: #ffd95a;

      &:hover {
        background-color: #ffd95a;
        color: #ffffff;
      }

      &:active {
        transform: scale(0.95);
        background-color: #e5c55c;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__inputs {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      label {
        margin-left: 0.5rem;
      }

      input {
        height: 1.5rem;
        padding: 0.25rem 0.75rem;
        border-radius: 1rem;
        border: 1px solid #4c3d3d;

        &:focus {
          border: 2px solid #ffd95a;
        }
        &:focus-visible {
          outline: none;
        }
      }

      textarea {
        height: 3rem;
        padding: 0.5rem 0.75rem;
        border-radius: 1rem;
        border: 1px solid #4c3d3d;
        resize: none;

        &:focus {
          border: 2px solid #ffd95a;
        }
        &:focus-visible {
          outline: none;
        }
      }

      p {
        margin: 0 0 0 0.5rem;
        color: red;
        font-size: small;
      }

      &__counter {
        display: flex;
        justify-content: space-between;
        p {
          visibility: hidden;
        }

        span {
          margin-right: 0.5rem;
        }
      }
    }

    &__button {
      align-self: end;
      margin-top: 0.5rem;
      background-color: #4c3d3d;
      color: #ffffff;
      border: none;
      border-radius: 1rem;
      padding: 0.5rem 0.75rem;
      cursor: pointer;

      &:active {
        transform: scale(0.95);
        background-color: #6e5d5d;
      }
    }
  }
}

.show {visibility: visible !important;}
